# CHOCOLATE DATA ANALYSIS

### Importing libraries

In [28]:
import pandas as pd

### Importing Chocolate Portfolio Project data

In [2]:
df=pd.read_csv("C:/Users/ADMIN/OneDrive/Desktop/Mike/mydata/choclate protfolio project - 11.csv")

In [3]:
df.head(10)

,Sales Person,Geography,Product,Amount,Units,cost per unit,Cost,Profit,profit %
0,Ram Mahesh,New Zealand,70% Dark Bites,"$1,624",114,14,"1,652",($28),-2%
1,Brien Boise,USA,Choco Coated Almonds,"$6,706",459,9,"3,970","$2,736",41%
2,Husein Augar,USA,Almond Choco,$959,147,12,"1,746",($787),-82%
3,Carla Molina,Canada,Drinking Coco,"$9,632",288,6,"1,863","$7,769",81%
4,Curtice Advani,UK,White Choc,"$2,100",414,13,"5,444","($3,344)",-159%
5,Ram Mahesh,USA,Peanut Butter Cubes,"$8,869",432,12,"5,344","$3,525",40%
6,Curtice Advani,Australia,Smooth Sliky Salty,"$2,681",54,6,313,"$2,368",88%
7,Brien Boise,USA,After Nines,"$5,012",210,10,"2,052","$2,960",59%
8,Ches Bonnell,Australia,50% Dark Bites,"$1,281",75,12,878,$404,31%
9,Gigi Bohling,New Zealand,50% Dark Bites,"$4,991",12,12,140,"$4,851",97%

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   300 non-null    object
 1   Geography      300 non-null    object
 2   Product        300 non-null    object
 3   Amount         300 non-null    object
 4   Units          300 non-null    int64
 5   cost per unit  300 non-null    int64
 6   Cost           300 non-null    object
 7   Profit         300 non-null    object
 8   profit %       300 non-null    object
dtypes: int64(2), object(7)
memory usage: 21.2+ KB

### Cleaning Profit column

In [5]:
##replacing the loss bracket with negative sign 

df['Profit']= df['Profit'].str.replace(r'\((.*?)\)',lambda x:'-' + x.group(1),regex = True)

In [6]:
##removing the $ sign 

df['Profit']= df['Profit'].str.replace('$','',regex = True)

In [7]:
##removing the commas 

df['Profit']= df['Profit'].str.replace('[, ]','',regex = True)

In [8]:
##changing the column to numeric

df['Profit']= pd.to_numeric(df['Profit'])

In [9]:
##viewing the top five rows

df.head(5)

,Sales Person,Geography,Product,Amount,Units,cost per unit,Cost,Profit,profit %
0,Ram Mahesh,New Zealand,70% Dark Bites,"$1,624",114,14,"1,652",-28,-2%
1,Brien Boise,USA,Choco Coated Almonds,"$6,706",459,9,"3,970",2736,41%
2,Husein Augar,USA,Almond Choco,$959,147,12,"1,746",-787,-82%
3,Carla Molina,Canada,Drinking Coco,"$9,632",288,6,"1,863",7769,81%
4,Curtice Advani,UK,White Choc,"$2,100",414,13,"5,444",-3344,-159%

### Cleaning Cost column and changing its data type

In [10]:
df['Cost']= df['Cost'].str.replace('[, ]','',regex = True)

In [11]:
df['Cost']= df['Cost'].astype(int)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   300 non-null    object
 1   Geography      300 non-null    object
 2   Product        300 non-null    object
 3   Amount         300 non-null    object
 4   Units          300 non-null    int64
 5   cost per unit  300 non-null    int64
 6   Cost           300 non-null    int32
 7   Profit         300 non-null    int64
 8   profit %       300 non-null    object
dtypes: int32(1), int64(3), object(5)
memory usage: 20.1+ KB

### Dropping Profit% column

In [13]:
df.drop('profit %', axis =1)

,Sales Person,Geography,Product,Amount,Units,cost per unit,Cost,Profit
0,Ram Mahesh,New Zealand,70% Dark Bites,"$1,624",114,14,1652,-28
1,Brien Boise,USA,Choco Coated Almonds,"$6,706",459,9,3970,2736
2,Husein Augar,USA,Almond Choco,$959,147,12,1746,-787
3,Carla Molina,Canada,Drinking Coco,"$9,632",288,6,1863,7769
4,Curtice Advani,UK,White Choc,"$2,100",414,13,5444,-3344
...,...,...,...,...,...,...,...,...
295,Gunar Cockshoot,New Zealand,Almond Choco,$938,366,12,4348,-3410
296,Gunar Cockshoot,Australia,Baker's Choco Chips,"$8,841",303,6,1697,7144
297,Barr Faughny,UK,Peanut Butter Cubes,"$4,018",126,12,1559,2459
298,Carla Molina,New Zealand,Raspberry Choco,$714,231,12,2710,-1996
299,Husein Augar,Australia,White Choc,"$3,850",102,13,1341,2509

#### Number of sales persons

In [14]:
df['Sales Person'].nunique()

10

#### Number of chocolate sales per sales person

##### Curtice Advani appears to be the sales persons with the highest number of chocolate sales

In [15]:
df['Sales Person'].value_counts()

Curtice Advani     38
Ram Mahesh         34
Ches Bonnell       34
Gigi Bohling       31
Husein Augar       30
Barr Faughny       29
Gunar Cockshoot    28
Brien Boise        26
Carla Molina       26
Oby Sorrel         24
Name: Sales Person, dtype: int64

#### Number of chocolate products

##### There are 22 chocolate products available in the market for sale

In [16]:
df['Product'].nunique()

22

#### Number of countries involved in the chocolate sales

##### Only 6 countries are involve in the sales

In [17]:
df['Geography'].unique()

array(['New Zealand', 'USA', 'Canada', 'UK', 'Australia', 'India'],
      dtype=object)

### The Most and List Profitable Product

##### The most profitable product is Baker's Choco Chips

In [18]:
def Most_Profitable_product(df):
    
    profit_per_prod = df.groupby('Product')['Profit'].sum()
    
    Most_Profitable_product=profit_per_prod.idxmax()

    return Most_Profitable_product

Profitable_prod =Most_Profitable_product(df)
print(Profitable_prod)

Baker's Choco Chips

##### The list profitable product is Almond Choco

In [19]:
def List_Profitable_product(df):
    
    profit_per_prod = df.groupby('Product')['Profit'].sum()
    
    List_Profitable_product=profit_per_prod.idxmin()

    return List_Profitable_product

Profitable_prod = List_Profitable_product(df)
print(Profitable_prod)

Almond Choco

### Most and List profitable Sales Persons

##### Gigi makes a lot of profit on chocolate sales as compared to other sales persons

In [20]:
def Most_Profitable_person(df):
    
    profit_per_person = df.groupby('Sales Person')['Profit'].sum()
    
    Most_Profitable_person=profit_per_person.idxmax()

    return Most_Profitable_person 

Profitable_prsn = Most_Profitable_person(df)
print(Profitable_prsn)

Gigi Bohling

##### Oby has the list profit in chocolate sales

In [21]:
def List_Profitable_person(df):
    
    profit_per_person = df.groupby('Sales Person')['Profit'].sum()
    
    List_Profitable_person=profit_per_person.idxmin()

    return List_Profitable_person 

Profitable_prsn = List_Profitable_person(df)
print(Profitable_prsn)

Oby Sorrel

### Most Expensive Product

##### The most expensive prooduct across all the Geographical area is Mint Chip Choco with a price of $ 16,184.0 and the cheap product being Manuka Honey choco with a price of 0

In [22]:
## cleaning Amount column

df['Amount']= df['Amount'].replace('$','',regex = True)

In [23]:
df['Amount'] = df['Amount'].replace('[\$,]', '', regex=True).astype(float)

In [24]:
def most_expensive_product_by_country(df,country ):
    
    # Filter DataFrame based on country
    country_df = df[df['Geography'] == country]

    if country_df.empty:
        return None  

    # Find the most expensive product
    most_expensive_product = country_df.loc[country_df['Amount'].idxmax()]

    return most_expensive_product
    
country = df['Geography']
most_expensive = most_expensive_product_by_country(df, country)

if most_expensive is not None:
    print("The most expensive product in {} is {} with a price of ${}.".format(country, most_expensive['Product'], most_expensive['Amount']))
else:
    print("No products found for {}.".format(country))

The most expensive product in 0      New Zealand
1              USA
2              USA
3           Canada
4               UK
          ...
295    New Zealand
296      Australia
297             UK
298    New Zealand
299      Australia
Name: Geography, Length: 300, dtype: object is Mint Chip Choco with a price of $16184.0.

In [25]:
def cheapest_product_by_country(df,country ):
    
    # Filter DataFrame based on country
    country_df = df[df['Geography'] == country]

    if country_df.empty:
        return None  

    # Find the cheapest product
    cheapest_product = country_df.loc[country_df['Amount'].idxmin()]

    return cheapest_product
    
country = df['Geography']
cheapest = cheapest_product_by_country(df, country)

if cheapest is not None:
    print("The cheapest product in {} is {} with a price of ${}.".format(country, cheapest['Product'], cheapest['Amount']))
else:
    print("No products found for {}.".format(country))

The cheapest product in 0      New Zealand
1              USA
2              USA
3           Canada
4               UK
          ...
295    New Zealand
296      Australia
297             UK
298    New Zealand
299      Australia
Name: Geography, Length: 300, dtype: object is Manuka Honey Choco with a price of $0.0.